<!doctype html>
<head>
    <meta charset="utf-8">
    <title>
        txtark.js
    </title>
</head>
<body>
    <style>
        ul { /* to make the status bar horizontal */
            list-style-type: none;
            margin: 0;
            padding: 5px;
        }

        li {
            display: inline;
            padding: 1px;
            margin: 1px;
        }

        #content {
            width: 1000px;
            background-color:lightsteelblue;
            padding:10px;
            margin: 0 auto;
        }
        #farmquest {
            display: none;
        }
        #buildmenu {
            display: none;
        }
        #inventory {
            display: none;
        }
        #gameui {
            display: none;
        }

        .interactable{ 
        /*    color: blue; */
            background-color:lightblue;
        }

        .interactable:hover{
            text-decoration: underline;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="content">
        <p id="intro">
            Cold air blows over you. Sand itches your <span v-on:click="toggle_gender" id="genderpicker" class="interactable">{{ message }}</span>. As you right yourself, you see charred metal and plastic remains of the pod you'd been in. Memories flow before you: shuttle falling, klaxons blaring, the great smash. Fire, tearing yourself out of the flightsuit. Choking on smoke as the world became black and consciousness faded. A patch of the flightsuit remains with a burned flag-patch and your <span id="namer"><input v-model="message"><button v-on:click="finalize_name">&#10003;</button></span>. You are on a sandy beach, it's up to you to <span v-on:click="show_game" id="endintro" class="interactable">survive.</span>
        </p>

        <section id="farmquest">
            <p id="initial">Now that you're not going to freeze to death - or get eaten by one of the megafauna infesting this island - you should probably work on food. Hunting and fishing is a great way to get protein and nutrients, but you're not sure how safe it is with your primitive weapons yet. Perhaps some of these edible berries you've been munching on could be farmed?</p>
            <p id="buildplots">
                To be created later
            </p>

        </section>

        <div id="farm">
            <!-- Farm Minigame here -->
            
        </div>

        <div id="buildmenu">
            <!-- implement later -->
        </div>

        <div id="inventory">
            <!-- AKA backpack -->
        </div>

        <div id="gameui">
            <div id="world">
            </div>
            <div id="controls">
                <button id="buildbtn"></button>
                <button id="bpackbtn"></button>
            </div>
            <div id="status">
                <!-- show active item here -->
                <ul>
                    <status-item 
                        v-for="item in statvalarray"
                        v-bind:statval="item"
                        v-bind:key="item.id">
                    </status-item>
                </ul>
                </div>
        </div>
    </div>

    <script>
        function Human(name, stats, pos) {
            // incorporate a function to check each is correct
            this.name = name; // string
            this.stats = stats; // object
            this.pos = pos; // xyz array
            this.sayName = function() {
                return "Hi, I'm " + this.name;
            }
        }
        var gameState = Object.create(null);
        gameState.pc = Object.create(null);
        gameState.pc.sex = "F";
        gameState.pc.skills = { crafting: 100, melee: 100, speed: 100 };
        gameState.pc.limits = { health: 100, stamina: 100, hunger: 100, thirst: 100, oxygen: 100, weight: 0 };

        var genderize = new Vue({
            el: "#genderpicker",
            data: {
                message: "vulva"
            },
            methods: {
                toggle_gender: function() {
                    if (this.message == "penis") {
                        this.message = "vulva";
                        return gameState.pc.sex = "F";
                     } else if (this.message =="vulva") {
                         this.message = "penis";
                         return gameState.pc.sex = "M";
                     } else alert("Error in genderize");
                }
            }
        })
        var namer = new Vue({
            el: "#namer",
            data: {
                message: "name"
            },
            methods: {
                finalize_name: function() {
                    gameState.pc.name = this.message;
                }
            }
        })
        var endintro = new Vue({
            el: "#endintro",
            methods: {
                show_game: function() {
                    document.getElementById("gameui").style.display = "block";
                    document.getElementById("intro").style.display = "none";
                }
            }
        });

        Vue.component('status-item', {
            // ummm
            props: ['statval'],
            template: '<li>{{ statval.label }} {{ statval.val }} </li>'
        })

        var stats_display = new Vue({
            el : "#status",
            data : {
                statvalarray : [
                    { id: 0, label: "Health: ", val: gameState.pc.limits.health },
                    { id: 1, label: "Stamina: ", val: gameState.pc.limits.stamina },
                    { id: 2, label: "Hunger: ", val: gameState.pc.limits.hunger },
                    { id: 3, label: "Weight: ", val: gameState.pc.limits.weight },
                    { id: 4, label: "Oxygen: ", val: gameState.pc.limits.oxygen },
                    { id: 5, label: "Thirst: ", val: gameState.pc.limits.thirst }
                    ]
                }
            })
    </script>
    <script src="world.js"></script>
</body>
